{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}

    <div class="container mt-4">
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                <button class="btn btn-outline-secondary mr-2"><a href="/card/edit/{{card.id}}">Edit</a></button>
                <button class="btn btn-outline-secondary mr-2" onclick="limits()">Limits</button>
            </div>
            <div>
                <button></button>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 d-flex flex-row"><p class="align-self-center">{{card.front}}</p></div>
            <div id='ansdiv' class="col-12 justify-content-center d-none"><p class="align-self-center">{{card.back}}</p></div>
        </div>
    </div>

    <div id="btndiv" class="container mt-4 d-none">
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                
                <button class="btn btn-outline-secondary mr-2" onclick="score('hard')">Hard</button>
                <button class="btn btn-outline-secondary mr-2" onclick="score('good')">Hard</button>
                <button class="btn btn-outline-secondary mr-2" onclick="score('easy')">Easy</button>
    
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center w-100 sticky-bottom"  id="sansdiv">
        <button class="btn btn-primary" onClick="showAnswer()"> Show Answer</button>
    </div>
    {% endblock %}
    